.card.mb-4.mt-4.text-white.bg-primary
  .card-header
    %h3 Department details
  .card-body
    %p
      %b Name:
      = department.name
    %p
      %b Building:
      = department.building
    %p
      %b Floor:
      = department.floor
  .card-footer
    = link_to 'Edit', edit_department_path(department), class: 'btn btn-warning'
    = link_to 'Close department', department, method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to fire all department professors? :(' }
