.card.mb-4.mt-4.text-white.bg-primary
  .card-header
    -# %h1.text-center=title
  .card-body
    = form_with(model: department, local: true) do |f|
      = render 'layouts/model_errors', model: department
      .form-group
        = f.text_field :name, placeholder: :name, class: "form-control"
      .form-group
        = f.text_field :building, placeholder: :building, class: "form-control"
      .form-group
        = f.number_field :floor, placeholder: :floor, class: "form-control"
      .form-group
        = f.submit 'Save', class: 'btn btn-success'
        = link_to 'Cancel', root_path, class: 'btn btn-danger'
