%h1.text-center.mt-4.mb-4 Departments list
.row
  .col-12.col-md-6.offset-md-3
    - if @departments.blank?
      .alert.alert-success.text-center
        We don't have departments yet, let's
        = link_to "create one", new_department_path, class: 'btn btn-light'
    - else
      .text-center.mb-4
        = link_to "New department", new_department_path, class: 'btn btn-success'
      .list-group
        = render @departments
