.card
  .card-header
    %h3 Professor details
  .card-body
    %p
      %b Name:
      = professor.name
    %p
      %b Department:
      = professor.department
    %p
      %b E-mail:
      = professor.email
  .card-footer
    = link_to 'Edit my profile', edit_professor_path(professor), class: 'btn btn-warning'
    = link_to 'Leave Rails University', professor, method: 'delete', class: 'btn btn-danger', data: { confirm: 'Are you sure you want to abandon your students? :(' }
